body {
	background-color:blue;

}
.nav {
	background-color: silver;
	border-radius: 5px;
	border: 2px solid siver;
	font-size: 20px;
	color: blue;
	display: inline;
}
.main {
	background-color:silver;
	border-left:50px;
	border-right:50px;
	padding-bottom:500px;
	margin-left:50px;
	margin-right:50px;
}

hl {
	color:#4EOFEC;
}

h3 {
	color:#4EOFEC;
}	
